<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Danh sách khoá học</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1 style="text-align:center; color:red;">DANH SÁCH KHOÁ HỌC</h1>
        <a type="button" class="btn btn-primary mb-3" href="/khoahoc/them">Thêm khoá học</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên khoá học</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Giáo viên</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <% khoaHocs.forEach(kh => { %>
                    <tr>
                        <td><%=kh.id%></td>
                        <td><%=kh.tenKhoaHoc%></td>
                        <td><%=kh.donGia%></td>
                        <td><%=kh.giaoVien%></td>
                        <td align="center">
                            <a type="button" class="btn btn-danger" href="/khoahoc/xoa/<%=kh.id%>"><i class="fa-regular fa-trash-can"></i></a>
                            <a type="button" class="btn btn-danger" href="/khoahoc/sua/<%=kh.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>